<html>
  <table width='100%' border='0' cellspacing='0' cellpadding='0'>
    <tbody><tr><td align='justify'>
          <h1
          >{{cadetSlackId}}さんのメンタリングリクエストがキャンセルされました</h1>

          <h3>メンタリングログの確認はこちら:&nbsp;<a
              href='https://www.42polar.kr/'
              rel='noreferrer noopener'
              style='font-size: 12pt;'
            >42POLAR</a></h3>

          <h3>メンター: &nbsp;<span
              style='font-size: 12pt; font-weight: normal;'
            >{{mentorSlackId}}</span></h3>

          <h3>カデット: &nbsp;<span
              style='font-size: 12pt; font-weight: normal;'
            >{{cadetSlackId}}</span></h3>

          <h3>メンタリングのテーマ: &nbsp;<span
              style='font-size: 12pt; font-weight: normal;'
            >{{topic}}</span></h3>

          <h3>キャンセル理由: &nbsp;<span
              style='font-size: 12pt; font-weight: normal;'
            >{{rejectMessage}}</span></h3>
        </td></tr>
    </tbody>
  </table>
</html>