<html>
  <table width='100%' border='0' cellspacing='0' cellpadding='0'>
    <tbody><tr><td align='justify'>
          <h1>{{cadetSlackId}}さんのメンタリングリクエストが保留中です</h1>

          <h3>メンタリングリクエストの確認はこちら:&nbsp;<a
              href='https://www.42polar.kr/'
              rel='noreferrer noopener'
              style='font-size: 12pt;'
            >42POLAR</a></h3>

          <h3>メンター: &nbsp;<span style='font-size: 12pt; font-weight: normal;'>{{mentorSlackId}}</span></h3>

          <h3>カデット: &nbsp;<span style='font-size: 12pt; font-weight: normal;'>{{cadetSlackId}}</span></h3>

          <h3>{{cadetSlackId}}さんのプロフィール: &nbsp;<a
              href={{intraProfileUrl}}
              rel='noreferrer noopener'
              style='font-size: 12pt; white-space: nowrap;'
            >{{cadetSlackId}}さんのプロフィール</a></h3>

          <h3>プログラム: <span style='font-weight: normal;'>&nbsp;<span style='font-size: 12pt;'>{{commonType}}</span></h3>

          <h3>メンタリングのテーマ: &nbsp;<span style='font-size: 12pt; font-weight: normal;'>{{topic}}</span></h3>

          <h3>リクエスト時間 1: &nbsp;<span style='font-size: 12pt; font-weight: normal;'>{{requestTime1}}</span></h3>
          <h3>リクエスト時間 2: &nbsp;<span style='font-size: 12pt; font-weight: normal;'>{{requestTime2}}</span></h3>
          <h3>リクエスト時間 3: &nbsp;<span style='font-size: 12pt; font-weight: normal;'>{{requestTime3}}</span></h3>
        </td></tr>
    </tbody>
  </table>
</html>
